<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form method="post" action="/create">
        
        {% csrf_token %}

        <label for="uname">Username :</label>
        <input type="text" name="uname" placeholder="Enter your name"><br><br>
        <label for="email">Email :</label>
        <input type="email" name="email"><br><br>
        <label for="mob">Mobile Number :</label>
        <input type="text" name="mob"><br><br>
        <textarea name="msg" id="" cols="30" rows="10">Message</textarea><br><br>
        <input type="submit"><br><br>
    </form>
</body>
</html>