<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p><a href="/create">Send Msg</a></p>
    <table border="2" align="center" cellpadding="5">
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Message</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobile}}</td>
            <td>{{x.msg}}</td>
            <td><a href="/edit/{{x.id}}">Edit</a></td>
            <td><a href="/delete/{{x.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>