<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit Form</h1>
    <form method="post" action="/edit/{{data.id}}">
        
        {% csrf_token %}

        <label for="uname">Username :</label>
        <input type="text" value="{{data.name}}" name="uname" placeholder="Enter your name"><br><br>
        <label for="email">Email :</label>
        <input type="email" value="{{data.email}}" name="email"><br><br>
        <label for="mob">Mobile Number :</label>
        <input type="text" name="mob" value="{{data.mobile}}"><br><br>
        <textarea name="msg" id="" cols="30" rows="10">{{data.msg}}</textarea><br><br>
        <input type="submit" value="Edit"><br><br>
    </form>
</body>
</html>